In [42]:
import pandas as pd

#Importing dataset

In [17]:
assay = pd.read_excel(r"C:\Users\USER\Desktop\Data Nikel\Excel\ASSAY.xlsx", sheet_name = 'ASSAY')
lithology = pd.read_excel(r"C:\Users\USER\Desktop\Data Nikel\Excel\LITHOLOGY.xlsx", sheet_name = 'LITOLOGI')
collar = pd.read_excel(r"C:\Users\USER\Desktop\Data Nikel\Excel\COLLAR.xlsx", sheet_name = 'COLLAR')
survey = pd.read_excel(r"C:\Users\USER\Desktop\Data Nikel\Excel\SURVEY.xlsx", sheet_name = 'SURVEY')

#Showing tables

In [11]:
#Showing collar table.
collar

       BHID     YCOLLAR    XCOLLAR  ZCOLLAR  DEPTH DH_TYPE
0    DHP001  9723049.46  334446.89   840.29   20.0  LINEAR
1    DHP002  9723048.96  334348.91   848.37   29.0  LINEAR
2    DHP003  9723048.93  334250.75   843.05   12.5  LINEAR
3    DHP004  9723048.38  334148.37   833.78   27.5  LINEAR
4    DHP005  9723051.23  334043.86   831.54   16.5  LINEAR
..      ...         ...        ...      ...    ...     ...
120  DHP121  9722702.87  333800.90   835.09   27.0  LINEAR
121  DHP122  9722701.09  333845.55   831.78   19.0  LINEAR
122  DHP123  9722708.81  333894.31   838.32   15.5  LINEAR
123  DHP124  9722701.46  333949.21   840.91   18.0  LINEAR
124  DHP125  9722699.37  333699.69   815.29   14.0  LINEAR

[125 rows x 6 columns]

In [12]:
#Showing survey table.
survey

       BHID     YCOLLAR    XCOLLAR  ZCOLLAR  DEPTH  AZIMUTH  DIP
0    DHP001  9723049.46  334446.89   840.29   20.0        0   -90
1    DHP002  9723048.96  334348.91   848.37   29.0        0   -90
2    DHP003  9723048.93  334250.75   843.05   12.5        0   -90
3    DHP004  9723048.38  334148.37   833.78   27.5        0   -90
4    DHP005  9723051.23  334043.86   831.54   16.5        0   -90
..      ...         ...        ...      ...    ...      ...   ...
120  DHP121  9722702.87  333800.90   835.09   27.0        0   -90
121  DHP122  9722701.09  333845.55   831.78   19.0        0   -90
122  DHP123  9722708.81  333894.31   838.32   15.5        0   -90
123  DHP124  9722701.46  333949.21   840.91   18.0        0   -90
124  DHP125  9722699.37  333699.69   815.29   14.0        0   -90

[125 rows x 7 columns]

In [18]:
#Showing lithology table.
lithology

        BHID  DEPTH_FROM  DEPTH_TO  THICKNESS    LIT
0     DHP001        0.00      1.00       1.00  WASTE
1     DHP001        1.00      2.00       1.00  WASTE
2     DHP001        2.00      3.00       1.00  WASTE
3     DHP001        3.00      4.00       1.00  WASTE
4     DHP001        4.00      5.00       1.00  WASTE
...      ...         ...       ...        ...    ...
3200  DHP125       10.00     10.85       0.85  WASTE
3201  DHP125       10.85     11.00       0.15     BZ
3202  DHP125       11.00     12.00       1.00     BZ
3203  DHP125       12.00     13.00       1.00     BZ
3204  DHP125       13.00     14.00       1.00     BZ

[3205 rows x 5 columns]

In [14]:
#Showing assay table.
assay

,BHID,DEPTH_FROM,DEPTH_TO,INTERVAL,Ni,Co,Fe,SiO2,MgO,SAMID
0,DHP001,0.00,1.00,1.00,0.50,0.05,46.20,2.40,1.50,DHP001_1
1,DHP001,1.00,2.00,1.00,0.72,0.05,44.40,2.60,1.60,DHP001_2
2,DHP001,2.00,3.00,1.00,0.89,0.06,44.80,3.00,1.60,DHP001_3
3,DHP001,3.00,4.00,1.00,0.98,0.07,45.40,2.70,1.30,DHP001_4
4,DHP001,4.00,5.00,1.00,0.90,0.06,43.90,2.70,1.30,DHP001_5
...,...,...,...,...,...,...,...,...,...,...
3200,DHP125,10.00,10.85,0.85,1.11,0.14,42.60,17.00,3.70,DHP125_10.85
3201,DHP125,10.85,11.00,0.15,0.69,0.04,6.50,42.10,34.80,DHP125_11
3202,DHP125,11.00,12.00,1.00,0.95,0.06,8.22,40.26,33.58,DHP125_12
3203,DHP125,12.00,13.00,1.00,0.40,0.02,6.79,40.00,35.63,DHP125_13
3204,DHP125,13.00,14.00,1.00,0.39,0.02,6.46,40.00,36.79,DHP125_14

#Merging tables

In [76]:
#Each BHID has interval of assay and lithology.
df1= assay.merge(lithology, how = 'inner', on = ['BHID','DEPTH_FROM','DEPTH_TO'])
df1.set_index('BHID')

,DEPTH_FROM,DEPTH_TO,INTERVAL,Ni,Co,Fe,SiO2,MgO,SAMID,THICKNESS,LIT
BHID,,,,,,,,,,,
DHP001,0.00,1.00,1.00,0.50,0.05,46.20,2.40,1.50,DHP001_1,1.00,WASTE
DHP001,1.00,2.00,1.00,0.72,0.05,44.40,2.60,1.60,DHP001_2,1.00,WASTE
DHP001,2.00,3.00,1.00,0.89,0.06,44.80,3.00,1.60,DHP001_3,1.00,WASTE
DHP001,3.00,4.00,1.00,0.98,0.07,45.40,2.70,1.30,DHP001_4,1.00,WASTE
DHP001,4.00,5.00,1.00,0.90,0.06,43.90,2.70,1.30,DHP001_5,1.00,WASTE
...,...,...,...,...,...,...,...,...,...,...,...
DHP125,10.00,10.85,0.85,1.11,0.14,42.60,17.00,3.70,DHP125_10.85,0.85,WASTE
DHP125,10.85,11.00,0.15,0.69,0.04,6.50,42.10,34.80,DHP125_11,0.15,BZ
DHP125,11.00,12.00,1.00,0.95,0.06,8.22,40.26,33.58,DHP125_12,1.00,BZ
DHP125,12.00,13.00,1.00,0.40,0.02,6.79,40.00,35.63,DHP125_13,1.00,BZ
DHP125,13.00,14.00,1.00,0.39,0.02,6.46,40.00,36.79,DHP125_14,1.00,BZ

In [31]:
#Each BHID will have one collar and one survey.
df2= collar.merge(survey, how = 'inner', on = ['BHID','YCOLLAR','XCOLLAR','ZCOLLAR','DEPTH'])
df2.set_index('BHID')

           YCOLLAR    XCOLLAR  ZCOLLAR  DEPTH DH_TYPE  AZIMUTH  DIP
BHID
DHP001  9723049.46  334446.89   840.29   20.0  LINEAR        0   -90
DHP002  9723048.96  334348.91   848.37   29.0  LINEAR        0   -90
DHP003  9723048.93  334250.75   843.05   12.5  LINEAR        0   -90
DHP004  9723048.38  334148.37   833.78   27.5  LINEAR        0   -90
DHP005  9723051.23  334043.86   831.54   16.5  LINEAR        0   -90
...            ...        ...      ...    ...     ...      ...   ...
DHP121  9722702.87  333800.90   835.09   27.0  LINEAR        0   -90
DHP122  9722701.09  333845.55   831.78   19.0  LINEAR        0   -90
DHP123  9722708.81  333894.31   838.32   15.5  LINEAR        0   -90
DHP124  9722701.46  333949.21   840.91   18.0  LINEAR        0   -90
DHP125  9722699.37  333699.69   815.29   14.0  LINEAR        0   -90

[125 rows x 7 columns]